<div class="row">

  <div *ngFor="let item of mobilesinfo">

    <div style=text-align:left>

      <button style='background-color:green;'>ON OFFER</button>

      <li><img src="{{item.mobileImage}}" width="200" height="200" /></li>

    </div>

    <div style=text-align:center>

      <ul>
        <li>{{item.mobileBrand}}</li>

        <li>{{item.mobileBrand}}</li>

        <li>{{item.mobileram}}</li>

        <li>{{item.mobileReview}}</li>

        <li>{{item.mobiledisplay}}</li>

        <li>{{item.mobilecamera}}</li>

        <li>{{item.mobileprocessor}}</li>

        <li>{{item.mobilesimSlot}}</li>

        <li>{{item.mfaceLock}}</li>

        <li>{{item.mobilediscount}}</li>

        <li>{{item.mobileactualPrice}}</li>

        <li>{{item.mobileEmi}}</li>

      </ul>

    </div>

  </div>

</div>